* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #533738;
}

header {
  width: 100%;
  height: 100%;
  background: url(../images/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash\ 1.jpg)
    no-repeat;
  background-size: cover;
}

.head-info-container {
  width: 85%;
  height: 20px;
  display: flex;
  align-items: center; 
  font-size: 16px;
  line-height: 20px;
  padding-top: 38px;
  margin-left: 99.33px;
}

.logo-container {
  width: 90.21px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-container:last-child {
  width: 64.87px;
  height: 20px;
}

a:active,
a:visited,
a:focus {
  color: #533738;
}

a {
  text-decoration: none;
  color: #533738;
}

.logo {
  width: 25.34px;
  height: 25px;
  background: url(../images/logo.png) no-repeat;
}

.about {
  width: 966.44px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 89.13px;
}

.about a:hover {
  cursor: pointer;
  border-bottom: 1px solid  #533738;
}

.contact-phone {
  width: 144.63px;
  height: 100%;
  margin-left: auto;
}

.contact-phone:hover {
  border-bottom: 1px solid  #533738;
}

article {
  width: 534.02px;
  height: 390px;
  margin-top: 152px;
  margin-left: 185.09px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  flex-direction: column;
  justify-content: space-between;
}

article h1 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 400;
}

article p {
  height: 90px;
  font-size: 18px;
  line-height: 30px;
}

article > button {
  font-family: Montserrat;
  width: 309.14px;
  height: 74px;
  border-radius: 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: #cc8b86;
}

article > button:hover {
  cursor: pointer;
  background: #a03c35;
  color: #ffffff;
}

main {
  width: 100%;
  height: 1000px;
  position: absolute;
}

.about-us {
  height: 641.54px;
  background: #efe6e4;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #533738;
}

.about-us-picture {
  width: 444.54px;
  height: 572.39px;
  margin-top: 64.7px;
  margin-left: 183.76px;
  background: url("../images/shche_-team-PFi1uWHh2dQ-unsplash\ 1.png") 0 90.3px
    no-repeat;
}

.about-us h2 {
  position: absolute;
  width: 136px;
  height: 50px;
  left: 632px;
  top: 65px;
  font-size: 40px;
  line-height: 50px;
  font-style: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}

.about-us div:last-child {
  width: 528px;
  height: 330px;
  margin-top: 155px;
  margin-left: 61.69px;
  font-size: 18px;
  line-height: 30px;
}

.achievments-container {
  height: 273px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  background: #8d7370;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.achievments-container div {
  text-align: center;
}

.our-works {
  height: 1229px;
  background: #efe6e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-container {
  width: 1200px;
  height: 1099px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.works-container h2 {
  width: 332px;
  height: 50px;
  font-style: inherit;
  font-weight: inherit;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.gallery {
  height: 932px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.gallery .background {
  width: 488px;
  height: 451px;
  background: url(../images/image\ 55.png);
  position: relative;
}

.layer {
  background-color: rgba(100, 72, 69, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  opacity: 0;
}

.layer:hover {
  opacity: 1;
  cursor: pointer;
}

.background .layer p:first-child {
  width: 270px;
  height: 111px;
  margin-top: 86px;
  font-style: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.background .layer p:last-child {
  width: 418px;
  height: 150px;
  font-style: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 30px;
}

.gallery div:nth-child(2) {
  width: 692px;
  height: 451px;
  background: url(../images/Rectangle\ 134.png);
}

.gallery div:nth-child(3) {
  width: 692px;
  height: 451px;
  background: url(../images/Rectangle\ 132.png);
  position: absolute;
  margin-top: 481px;
}

.gallery div:nth-child(4) {
  width: 488px;
  height: 459px;
  background: url(../images/image\ 56.png) no-repeat;
  position: absolute;
  margin-top: 481px;
  margin-left: 712px;
}

.more {
  width: 294px;
  height: 37px;
  margin-top: 40px;
  margin-left: 453px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div .more-text {
  width: 224px;
  height: 37px;
  font-style: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.more:hover {
  cursor: pointer;
  border-bottom: 1px solid  #533738;
}

.team {
  height: 998px;
  background: #e2c4ba;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}

.team h2:first-of-type {
  width: 224px;
  height: 50px;
  margin-top: 50px;
}

.team-members {
  width: 1036px;
  height: 439px;
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.team-members div p {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.team h2:last-of-type {
  width: 420px;
  height: 50px;
  margin-top: 35px;
}

.how-we-work {
  width: 1200px;
  height: 210px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.ellipse {
  width: 70px;
  height: 70px;
  background: #8d7370;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}

.ellipse:hover {
  cursor: default;
}

.how-we-work div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-we-work div p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #533738;
  margin-top: 20px;
}

.reviews {
  width: 100%;
  height: 788px;
  background: #efe6e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-container {
  width: 1036px;
  height: 658px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews-container h2 {
  width: 191px;
  height: 50px;
  font-style: inherit;
  font-weight: inherit;
  font-size: 40px;
  line-height: 50px;
  color: #533738;
  align-self: center;
  text-transform: uppercase;
}

.reviews-container > div {
  height: 568px;
  display: flex;
  align-items: center;
}

.circle {
  width: 72px;
  height: 72px;
  background: #cc8b86;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  cursor: pointer;
  background: #a03c35;
}

.circle img {
  width: 32px;
  height: 20px;
}

.user-review {
  width: 407px;
  height: 384px;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  margin-left: 29px;
}

.user-review > div:first-child {
  height: 335px;
  font-style: inherit;
  font-weight: inherit;
}

.user-review > div:last-child {
  height: 30px;
  font-style: inherit;
  font-weight: inherit;
  margin-top: 19px;
}

.room-pictures {
  width: 407px;
  height: 100%;
  margin-left: 20px;
  margin-right: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-pictures > div:first-child {
  height: 272px;
}

.room-pictures > div:last-child {
  height: 279px;
}

.room-pictures img:hover {
  cursor: pointer;
}

.request-form {
  width: 100%;
  height: 624px;
  background: #8d7370;
  display: flex;
  justify-content: center;
}

.request-form > form {
  width: 508px;
  height: 388px;
  margin-top: 50px;
  margin-right: 20px;
}

form h2 {
  width: 474px;
  height: 50px;
  font-style: inherit;
  font-weight: inherit;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}

form > label {
  width: 507px;
  height: 60px;
  font-style: inherit;
  font-weight: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

form input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #f6ede9;
  border: none;
  background: inherit;
}

#username,
#phone-number {
  width: 508px;
  height: 35px;
  border-bottom: 1px solid #ffffff;
}

#username::placeholder,
#phone-number::placeholder {
  opacity: 1;
  color: #f6ede9;
}

#username {
  margin-top: 44px;
}

#phone-number {
  margin-top: 40px;
}

#submit-request {
  height: 74px;
  width: 309.1392822265625px;
  border-radius: 0px;
  margin-top: 36px;
  background: #cc8b86;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}

#submit-request:hover {
  background: #ca716b;
  color: #ffffff;
}


.map {
  width: 590px;
  height: 624px;
}

.map:hover {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 104px;
  position: absolute;
  background: #efe6e4;
  margin-top: 4554px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-container {
  width: 1200px;
  height: 30px;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.contacts-container div:nth-child(1) {
  width: 161px;
  height: 30px;
  justify-items: start;
}

.contacts-container div:nth-child(2) {
  width: 453px;
  height: 30px;
  margin-left: 42px;
}

.contacts-container div:nth-child(3) {
  width: 167px;
  height: 30px;
  margin-left: auto;
}


